<div>
    {{partial "section_layerslider"}}
    {{partial "section_recommend"}}
    {{partial "section_category"}}
    {{partial "section_recent"}}
    {{partial "section_popular"}}
    {{partial "section_movies"}}
</div>