{{define "header-layouts/application"}}
    <header>
        <!-- Top -->
        <section id="top" class="topBar topBarBlack show-for-large">
            <div class="row">
                <div class="medium-6 columns">
                    <div class="topBarMenu">
                        <ul class="menu">
                            <li>
                                <a href="home-v1.html"><i class="fa fa-home"></i>主页</a>
                            </li>
                            <li>
                                <a href="categories.html"><i class="fa fa-th-large"></i>视频</a>
                            </li>
                            <li>
                                <a href="about-us.html"><i class="fa fa-user"></i>音乐</a>
                            </li>
                            <li>
                                <a href="blog.html"><i class="fa fa-pencil-square-o"></i>读书</a>
                            </li>
                            <li>
                                <a href="contact-us.html"><i class="fa fa-envelope"></i>社区</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="medium-6 columns">
                    <div class="top-button">
                        <ul class="menu float-right">
                            <li>
                                <a href="login-register.html">Register</a>
                            </li>
                            <li class="dropdown-login">
                                <a class="loginReg" data-toggle="example-dropdown" href="login.html">login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section><!-- End Top -->
        <!--Navber-->
        <section id="navBar">
            <div class="middleNav show-for-large">
                <div class="row">
                    <div class="large-3 columns">
                        <div class="logo">
                            <a href="home-v1.html"><img src="images/logo.png" alt="betube"></a>
                        </div>
                    </div>
                    <div class="large-6 columns">
                        <div class="topCenterAdv text-center">
                            <img src="images/header-top-img.png" alt="betube">
                        </div>
                    </div>
                    <div class="large-3 columns">
                        <div class="search-btns float-right">
                            <ul class="menu">
                                <li class="upl-btn">
                                    <a href="submit-post.html">upload Video</a>
                                </li>
                                <li class="search">
                                    <i class="fa fa-search"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="search-bar" class="clearfix search-bar-light">
                        <form method="post">
                            <div class="search-input float-left">
                                <input type="search" name="search" placeholder="Seach Here your video">
                            </div>
                            <div class="search-btn float-right text-right">
                                <button class="button" name="search" type="submit">search now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <nav class="sticky-container navBlack navFull" data-sticky-container>
                <div class="sticky topnav" data-sticky data-top-anchor="navBar" data-btm-anchor="footer-bottom:bottom" data-margin-top="0" data-margin-bottom="0" style="width: 100%; background: #444;" data-sticky-on="large">
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="title-bar title-bar-dark" data-responsive-toggle="beNav" data-hide-for="large">
                                <button class="menu-icon" type="button" data-toggle="offCanvas"></button>
                                <div class="title-bar-title"><img src="images/logo-small.png" alt="logo"></div>
                            </div>

                            <div class="top-bar show-for-large topbar-light-dark" id="beNav" style="width: 100%;">
                                <div class="top-bar-left topnews">
                                    <div class="newsTicker">
                                        <i class="fa fa-video-camera"></i>
                                        <span>Headlines</span>
                                        <ul id="newsBar">
                                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                                            <li><a href="#">Maecenas luctus enim et ante</a></li>
                                            <li><a href="#">Ut pharetra mattis pellentesque</a></li>
                                            <li><a href="#">Cum sociis natoque penatibus</a></li>
                                            <li><a href="#">Nullam luctus egestas lectus </a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="top-bar-right">
                                    <ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
                                        <li class="has-submenu active">
                                            <a href="#"><i class="fa fa-home"></i>Home</a>
                                            <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                                                <li><a href="home-v1.html"><i class="fa fa-home"></i>Home page v1</a></li>
                                                <li><a href="home-v2.html"><i class="fa fa-home"></i>Home page v2</a></li>
                                                <li><a href="home-v3.html"><i class="fa fa-home"></i>Home page v3</a></li>
                                                <li><a href="home-v4.html"><i class="fa fa-home"></i>Home page v4</a></li>
                                                <li><a href="home-v5.html"><i class="fa fa-home"></i>Home page v5</a></li>
                                                <li><a href="home-v6.html"><i class="fa fa-home"></i>Home page v6</a></li>
                                                <li><a href="home-v7.html"><i class="fa fa-home"></i>Home page v7</a></li>
                                                <li><a href="home-v8.html"><i class="fa fa-home"></i>Home page v8</a></li>
                                                <li><a href="home-v9.html"><i class="fa fa-home"></i>Home page v9</a></li>
                                                <li><a href="home-v10.html"><i class="fa fa-home"></i>Home page v10</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-submenu" data-dropdown-menu="example1">
                                            <a href="#"><i class="fa fa-film"></i>Videos</a>
                                            <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                                                <li><a href="home-v1.html"><i class="fa fa-film"></i>电影</a></li>
                                                <li><a href="home-v2.html"><i class="fa fa-film"></i>电视剧</a></li>
                                                <li><a href="home-v3.html"><i class="fa fa-film"></i>综艺</a></li>
                                                <li><a href="home-v4.html"><i class="fa fa-film"></i>音乐</a></li>
                                                <li><a href="home-v5.html"><i class="fa fa-film"></i>游戏</a></li>
                                                <li><a href="home-v6.html"><i class="fa fa-film"></i>搞笑</a></li>
                                                <li><a href="home-v7.html"><i class="fa fa-film"></i>体育</a></li>
                                                <li><a href="home-v8.html"><i class="fa fa-film"></i>汽车</a></li>
                                                <li><a href="home-v9.html"><i class="fa fa-film"></i>体育</a></li>
                                                <li><a href="home-v10.html"><i class="fa fa-film"></i>财经</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="categories.html"><i class="fa fa-th"></i>category</a></li>
                                        <li>
                                            <a href="blog.html"><i class="fa fa-edit"></i>blog</a>
                                            <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                                                <li><a href="blog-single-post.html"><i class="fa fa-edit"></i>blog single post</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-magic"></i>features</a>
                                            <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                                                <li><a href="404.html"><i class="fa fa-magic"></i>404 Page</a></li>
                                                <li><a href="archives.html"><i class="fa fa-magic"></i>Archives</a></li>
                                                <li><a href="login.html"><i class="fa fa-magic"></i>login</a></li>
                                                <li><a href="login-forgot-pass.html"><i class="fa fa-magic"></i>Forgot Password</a></li>
                                                <li><a href="login-register.html"><i class="fa fa-magic"></i>Register</a></li>
                                                <li>
                                                    <a href="#"><i class="fa fa-magic"></i>profile</a>
                                                    <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                                                        <li><a href="profile-page-v1.html"><i class="fa fa-magic"></i>profile v1</a></li>
                                                        <li><a href="profile-page-v2.html"><i class="fa fa-magic"></i>profile v2</a></li>
                                                        <li><a href="profile-about-me.html"><i class="fa fa-magic"></i>Profile About Me</a></li>
                                                        <li><a href="profile-comments.html"><i class="fa fa-magic"></i>profile comments</a></li>
                                                        <li><a href="profile-favorite.html"><i class="fa fa-magic"></i>profile favorites</a></li>
                                                        <li><a href="profile-followers.html"><i class="fa fa-magic"></i>profile followers</a></li>
                                                        <li><a href="profile-settings.html"><i class="fa fa-magic"></i>profile settings</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="profile-video.html"><i class="fa fa-magic"></i>Author Page</a></li>
                                                <li><a href="search-results.html"><i class="fa fa-magic"></i>search results</a></li>
                                                <li><a href="terms-condition.html"><i class="fa fa-magic"></i>Terms &amp; Condition</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about-us.html"><i class="fa fa-user"></i>about</a></li>
                                        <li><a href="contact-us.html"><i class="fa fa-envelope"></i>contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </nav>
        </section>
    </header><!-- End Header -->
{{end}}